
version: "3.9"
services: 
  web:
    build: .
    ports: 
      - "8080:8080"
    depends_on: 
      - db
  db:
    image: postgis/postgis
    volumes: 
      - "./data/db:/var/lib/postgresql/data"
    ports: 
      - "5432:5432"
    environment: 
      - POSTGRES_PASSWORD=postgres



